*{
    margin: 0px;
    padding: 0px;
}

:root {
    --font-color : white;
    --span-color : lightblue;
    --bg-color : rgb(1, 1, 35);
    --grad-color : black;
}

.light-mode {
    --font-color : black;
    --span-color : #006666;
    --bg-color : #ddecec;
    --grad-color : #f3ece7;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    border-left: 5px solid var(--span-color);
    border-top: 5px solid var(--span-color);
}

span {
    color: var(--span-color);
}

.anchor {
    text-decoration: none;
    padding: .5rem;
    border: 1px solid ;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 1px 1px 5px;
    color: var(--font-color);

}

.anchor:hover {
    text-shadow: 0px 0px 2px;
}

.btn-con {
    height: 8rem;
    align-items: center;
}

.btn-text, .btn-icon {
    color: var(--font-color);
}

.main-content {
    background-color: var(--bg-color);
    padding: 1rem;
    color: var(--font-color);
    transition: all 1s ease-in-out;
    min-height:100vh;
    max-height: max-content;
    border: .5rem double var(--span-color);
    border-radius: .5rem;
}

.container {
    display: none;
}

.home-image img{
    /* margin-bottom: 2rem; */
    padding: 1rem;
    height: 90vh;
    width: 100%;
    box-shadow: 2px 2px 5px 2px var(--span-color),
    -2px -2px 5px 2px var(--span-color);
}

/* controls------------------ */
.active {
    display: contents;
    transition: all 2s ease-in-out;
    border: 5px solid var(--span-color);
    height: 100vw;
}

.active-btn {
    color: var(--span-color);
    text-shadow: 0 0 5px var(--span-color);
}

.controls {
    position: fixed;
    right: 2vh;
    top: 18vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls .control i {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.controls .control i:hover, .theme-btn:hover {
    color: var(--span-color);
    text-shadow: 0 0 5px var(--span-color);
}

.theme-btn {
    position: fixed;
    font-size: 2rem;
    right: 2vh;
    top: 3vh;
    padding: 1rem;
    cursor: pointer;
}
/* -------------------------------------- */

#home-abt {
    background-image: linear-gradient(312.25deg, var(--grad-color) 0%, var(--bg-color) 85%);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 1.5rem;
    width: 100%;
    padding: 4rem;
    min-height: 80vh;
    max-height: max-content;
    box-shadow: 2px 2px 5px 2px var(--span-color),
    -2px -2px 5px 2px var(--span-color);
}

/* About-------------------- */

.abt-text {
    margin-bottom: 2rem;
    min-height: 10rem;
    padding: .7rem;
    background-image: linear-gradient(312.25deg, var(--grad-color) 0%, var(--bg-color) 55%);
    border-radius: 5px;
}

.abt-text:hover {
    box-shadow: 1px 1px 5px var(--font-color);
}

.marksheet {
    text-decoration: none;
}

#info-abt-me h4 {
    text-shadow: 1px 1px var(--span-color);
}
#info-abt-me ul{
    margin-left: 1rem;
}
.btn-icon {
    color: var(--span-color);
}

.stat-title {
    font-size: 2rem;
    font-weight: 700;
}

.large-text {
    color: var(--span-color);
    font-size: x-large;
    font-weight: 700;
}

.small-text{
    padding-left: 2rem;
    font-size: large;
    font-weight: 400;
    color: var(--font-color);
}

.python, .sql {
    display: flex;
    width: 90%;
    background-image: linear-gradient(312.25deg, var(--grad-color) 0%, var(--span-color) 95%);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.html, .css {
    display: flex;
    width: 95%;
    background-image: linear-gradient(312.25deg, var(--grad-color) 0%, var(--span-color) 95%);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.js {
    display: flex;
    width: 75%;
    background-image: linear-gradient(312.25deg, var(--grad-color) 0%, var(--span-color) 95%);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.ccpp {
    display: flex;
    width: 80%;
    background-image: linear-gradient(312.25deg, var(--grad-color) 0%, var(--span-color) 95%);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.progress {
    margin-bottom: 2rem;
}

.progress:hover {
    box-shadow: 1px 1px 10px var(--font-color);
}

.main-title h2, .main-title span {
    font-size: 2rem;
    font-weight: 900;
}

/* work-experience------------ */
.experience-time {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience-time h5 {
    margin-bottom: 0;
}

.experience-time p{
    margin-bottom: 0;
    font-size: small;
    font-weight: 600;
}


/* work----- */

.main-title h2 {
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 800;
}

.image {
    height: 10rem;
    width: 14rem;
}

.image img {
    height: 10rem;
    width: 14rem;
    object-fit: cover;
    border-radius: 3px;
}

#project-box{
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 1px 1px var(--font-color);
    border-radius: 5px;
}

#project-box:hover {
    box-shadow: 2px 2px 10px var(--font-color),
    -2px -2px 10px var(--font-color);
}

.icons i{
    font-size: 2rem;
}

.icon i:hover {
    text-shadow: 2px 2px 10px var(--span-color),
    -2px -2px 10px var(--span-color);
}

.project-list li {
    color: var(--font-color);
}

.hover-items h5 {
    text-shadow: .8px .8px var(--span-color);
}

/* contact-- form---------- */


#my-contact {
    padding: 1rem;
}
.contact-item {
    font-weight: 500;
    display: flex;
    margin: 1rem 0;
}

.icon span, .contact-item span {
    color: var(--font-color);
    padding-left: .5rem;
}

.icon i {
    color: var(--span-color);
}

#your-info {
    padding: 1rem;
}

.input-control {
    width: 100%;
}

.left-contact h4, .your-heading, #my-contact h2{
    font-size: 2rem;
}

.input-control input, label, textarea, .submit{
    border: none;
    border-radius: 5px;
    padding: .25rem;
}

.input-control input, textarea{
    border: 1px solid black;
    width: 100%;
}

.submit {
    border: none;
    border-radius: 3px;
    background-color: var(--span-color);
    color: var(--bg-color);
    width: 5rem;
    margin-bottom: 1rem;
}

#your-info:hover, #contact:hover, #my-contact:hover {
    box-shadow: 1px 1px 10px var(--font-color);
    border-radius: 5px;
}

#contact-icon i {
    margin-right: 1rem;
    font-size: 2rem;
    color: var(--span-color);
    text-decoration: none;
}

#contact-icon i:hover {
    box-shadow: 5px 5px 30px 2px var(--font-color);
    border-radius: 5px;
}

#contact-icon-btn {
    margin-top: 1rem;
}

@media (max-width:900px){
    .controls .control i, .theme-btn{
        font-size: 1rem;
    }
    .main-content {
        padding-right: 3rem;
    }
    #project-box {
        box-shadow: none;
    }
    .home-image img{
        height: 70vh;
    }
    #home-abt{
        padding: 1rem .5rem;
    }
    
}
@media (max-width:1092px){
    .contact-item {
        display: block;
    }
    .contact-item .icon {
        display: flex;
        align-items: center;
    }
}